
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Images/skygoIcon.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/select2.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/mystyle.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/dataTables.bootstrap.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/datepicker.css")" />        
        <style type="text/css">
           @* body {
                background: url('@Url.Content("~/Images/1.jpg")') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }*@
            

            .has-sub a{
            background-color: red;
            display:block;
            opacity:1;
            }

            .has-sub a:hover{
            background-color: yellow;
            width:200px;
            position: inline;
            display:block;
            float:left;
            top:0;

           }
     
      @*      .has-sub ul li {
            display:none;
            opacity: 0;
            position: absolute;
            top: 60px;    
            width: 100%;
            background-color: blue;
            transform: all .5s;
            background-color: blue;
            }
            *@
            

        @*    .has-sub ul li:hover {
                display:block;
                opacity:1;

            }*@






          



        </style>
        @*@Styles.Render("~/Content/css")*@
        @Scripts.Render("~/bundles/modernizr")                
    </head>    
    <body>
        
    <nav role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a href="http://www.skygo.com.ph" class="navbar-brand" style="color:white;">Skygo</a>*@
        </div>

        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">                
                <li><a href="@Url.Content("~/Home")" style="color:#fff;">Home</a></li>
                @if ((bool)Session["isAdmin"] == true) 
                { 
                    <li class="dropdown">
                        <a style="color:white;" data-toggle="dropdown" class="dropdown-toggle" href="#">Master File <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="@Url.Content("~/User")">User Rights</a></li>
                            <li><a href="@Url.Content("~/UserGroup")">User Group</a></li>
                            <li><a href="@Url.Content("~/Category")">Category</a></li>
                            <li><a href="@Url.Content("~/GroupType")">Group Type</a></li>                            
                            <li><a href="@Url.Content("~/Department")">Department</a></li>
                            <li><a href="@Url.Content("~/Prefix")">Department Prefix</a></li>
                        </ul>                        
                    </li>                    
                }                                
                
                 <li class="dropdown">
                    <a style="color:white;" data-toggle="dropdown" class="dropdown-toggle" href="#">Documents <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        @{
                            var cat = Session["sysCategories"] as List<FileUpload.Models.UserGroupDetailViewData>;
                            bool upl = false;
                            bool dl = false;
                            bool edt = false;
                            
                            if (cat != null)
                            { 
                                foreach(var c in cat)
                                {
                                    
                                    if(upl == false)
                                    {
                                        if (c.canUpload == true)
                                        {
                                            upl = true;
                                            <li><a href="@Url.Content("~/UploadFile")">Upload</a></li>
                                        }
                                    }
                                    
                                    if(dl == false)
                                    {
                                        if (c.canDownload == true)
                                        {
                                            dl = true;
                                            <li><a href="@Url.Content("~/DownloadFile")">Download</a></li>
                                        }
                                    }
                                    
                                    if(edt == false)
                                    {
                                        if (c.canEdit == true)
                                        {
                                            edt = true;
                                            <li><a href="@Url.Content("~/UploadFile/List")">Edit</a></li>
                                        }                                        
                                    }
                                                                       
                                }                                
                            }                           
                            
                        }

                         @*if((edt == true) || (dl == true))
                            {
                                <li><a href="@Url.Content("~/UploadFile/Search")">Search</a></li>
                            }*@
                                                                        
                    </ul>
                </li>

                @{
                    var cart = Session["sysModules"] as List<FileUpload.Models.ModuleDetail>;

                    if (cart != null)
                    {
                        foreach (var item in cart)
                        {
                            if((item.canUpload==true) || (item.canDownload==true) || (item.canEdit==true))
                            {
                                if (@item.ModuleName.ToString() == "Audit")
                                {

                                 <li class="dropdown">
                                    <a style="color:white;" data-toggle="dropdown" class="dropdown-toggle" href="#">@item.ModuleName <b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">

                                            @if(item.canUpload == true)
                                             {
                                                <li><a href="@Url.Content("~/"+ item.ControllerName + "/Upload")">Upload</a></li>
                                             }
                                        
                                             @if(item.canDownload == true)
                                             {
                                                <li><a href="@Url.Content("~/"+ item.ControllerName + "/Download")">Download</a></li>
                                             }
                                        
                                             @if(item.canEdit == true)
                                             {   
                                                <li><a href="@Url.Content("~/"+ item.ControllerName + "/List")">Edit</a></li>
                                             }
                                        
                                             @if ((bool)Session["isAdmin"] == true) {
                                                <li><a href="@Url.Content("~/"+ item.ControllerName + "/ViewReport")">Report</a></li>
                                             }  
                                        
                                 
                                    




                                       @* @if(item.canUpload == true)
                                        {
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/Upload")">Upload</a></li>
                                        }
                                        
                                        @if(item.canDownload == true)
                                        {
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/Download")">Download</a></li>
                                        }
                                        
                                        @if(item.canEdit == true)
                                        {   
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/List")">Edit</a></li>
                                        }
                                        
                                        @if ((bool)Session["isAdmin"] == true) {
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/ViewReport")">Report</a></li>
                                        } *@                 
                                        
                                                              
                                    </ul>
                                </li>

                                }
                                else
                                {
                                
                                  
                                  
                                
                                
                                <li class="dropdown">
                                    <a style="color:white;" data-toggle="dropdown" class="dropdown-toggle" href="#">@item.ModuleName <b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">
                                        @if(item.canUpload == true)
                                        {
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/Upload")">Upload</a></li>
                                        }
                                        
                                        @if(item.canDownload == true)
                                        {
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/Download")">Download</a></li>
                                        }
                                        
                                        @if(item.canEdit == true)
                                        {   
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/List")">Edit</a></li>
                                        }
                                        
                                        @if ((bool)Session["isAdmin"] == true) {
                                            <li><a href="@Url.Content("~/"+ item.ControllerName + "/ViewReport")">Report</a></li>
                                        }                                        
                                    </ul>
                                </li>
                    
                                 }//end of if
                            }
                        }
                    }                    
                    
                } 
                
                @if ((bool)Session["hasGroupTaggings"] == true)
                {
                <li class="dropdown">
                                    <a style="color:white;" data-toggle="dropdown" class="dropdown-toggle" href="#">Masterfile <b class="caret"></b></a>
                                    <ul role="menu" class="dropdown-menu">
                                            <li><a href="@Url.Content("~/Masterfile/Index")">Create Groups</a></li>
                                           @* <li><a href="@Url.Content("~/Masterfile/UploadReports")">Upload Reports</a></li>*@
                                    </ul>
                 </li>        
                }
            </ul>            

            <ul class="nav navbar-nav navbar-right">
                @*<li><a style="color:white;" href="@Url.Content("~/User/ChangePassword")">Welcome, @Session["Username"]</a></li>*@
                <li><a style="color:white;" href="javascript:void(0);">Welcome, @Session["Username"]</a></li>
                <li><a style="color:white;" href="@Url.Content("~/User/LogOut")">| Logout</a></li>
            </ul>
        </div>

    </nav>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>        
        
        <footer>
            <div class="col-xs-12">
                <span class="pull-right small">
                    v2.8
                </span>
            </div>
        </footer>
                
        <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/select2.full.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/dataTables.bootstrap.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" type="text/javascript"></script>                

        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
    
</html>