@model IEnumerable<FileUpload.Models.UploadList>

@{
    ViewBag.Title = "Search";
}

<h3 style="margin-left:10px;">@ViewBag.Title</h3>

<table class="table table-striped distance" id="tbl">
    <thead>
        <tr>            
            <th class="col-sm-1 text-center">Upload Date</th>
            <th class="col-sm-2 text-center">Group Type</th>
            <th class="col-sm-2 text-center">Department</th>            
            <th>Subject</th>
            <th>Description</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>                
                <td class="text-center">@item.dataDate</td>
                <td class="text-center">@item.GroupType</td>
                <td class="text-center">@item.DeptName</td>
                <td>@item.Subject</td>
                <td>@item.FileDescription</td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    
    <script type="text/javascript">
        $(function () {

            table = $("#tbl").dataTable();

        });
    </script>    
    
    
    
}