@model FileUpload.Models.GroupTagging

@{
    ViewBag.Title = "EditGroupTaggings";
}

<h2>EditGroupTaggings</h2>

<div class="alert text-center" id="msg4" style=" display:none; text-align:center;"></div> 

<div class="form-group col-sm-12">
        @foreach(var item in Model.GroupTagHead)
        {
            <label class="control-label col-sm-1" for="UserGroupName">Group Name</label>
            <div class="col-sm-8">         
                @Html.TextBoxFor(a => item.GroupID, new { @class = "form-control", @ID = "GroupID", @style = "display: none;" })               
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => item.GroupName, new { @class = "form-control", @required="required", @ID = "GroupName" })              
            </div>            

            <div class="col-sm-3">
                <a href="@Url.Content("~/Masterfile/Index")" class="btn btn-warning pull-right" style="margin-left:10px;">Back to list</a>
                <button type="button" class="btn btn-success pull-right" onclick="SaveRecord();" style="margin-left:15px;">Save Group</button>            
            </div>    
        }        
 </div>

<div class="col-sm-10">
        <table id="tbl" class="table table-bordered table-striped table-heading" style="font-size:12px;">
            <thead>
                <tr>
                    <th>intGroupID</th>                             
                    <th>BranchCode</th>
                    <th>Branch</th>
                    <th>intMstDepartment</th>
                    <th>Department</th>
                    <th>intMstPosition</th>
                    <th>Position</th>
                    <th>intMstEmpPersonal</th>
                    <th>Employee</th>                  
                    <th class="col-sm-1">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GroupDetail)
                {
                    <tr>
                        <td>@item.intTrnGroupDetail</td>                        
                        <td>@item.BranchCode</td>
                        <td>@item.Branch</td>
                        <td>@item.intMstDepartment</td>
                        <td>@item.Department</td>
                        <td>@item.intMstPosition</td>
                        <td>@item.Position</td>
                        <td>@item.intMstEmpPersonal</td>
                        <td>@item.Employee</td>
                        <td><a href="javascript:void(0);" onclick="RemoveItem(this);">Remove</a></td>
                    </tr>
                }                  
              
            </tbody>
        </table>

        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Add item</button>        
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Select where to send</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal">            
              <div class="form-group" id="send-id">
                <label class="col-sm-3 control-label">Employee</label>
                <div class="col-sm-8">
                    @Html.DropDownList("firstname",null,"Please select employee name" ,new { @class = "form-control", @style="width: 100%;" })
                    @*@Html.DropDownListFor(mdl => mdl.GroupDetail, (SelectList)@ViewBag.emps, new { @class = "form-control", @style="width: 100%;" })*@ 
                </div>
            </div> 
              <div class="form-group" id="send-id1">
                <label class="col-sm-3 control-label">Branch</label>
                <div class="col-sm-8">
                      @Html.DropDownList("BranchName", null, "Please select branch", new { @class = "form-control", @style = "width: 100%;" })    
                </div>
            </div> 
              <div class="form-group" id="send-id3">
                <label class="col-sm-3 control-label">Position</label>
                <div class="col-sm-8">
                      @Html.DropDownList("Position", null, "Please select positon", new { @class = "form-control", @style = "width: 100%;" })    
                </div>
            </div> 

               <div class="form-group" id="send-id4">
                <label class="col-sm-3 control-label">Department</label>
                <div class="col-sm-8">
                      @Html.DropDownList("Department", null, "Please select department", new { @class = "form-control", @style = "width: 100%;" })
                </div>
            </div>            
          </form>        
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-success" onclick="AddItem();"  data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-warning" onclick=""  data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

@section scripts
{
    <script type="text/javascript"> 

        var table;

        $(function () {
            //var gpdate = $("#notice_EmpNoticeDate").datepicker();
            //$('#firstname').select2();s

            //table = $("#tbl").dataTable({
            //    "columnDefs": [{
            //       "targets": [0, 1, 3, 5, 7],                   
            //        "visible": false,
            //        "searchable": false
            //    }],
            //    "bPaginate": false,
            //    "bLengthChange": false,
            //    "bFilter": false,
            //    "bSort": false,
            //    "bInfo": false,
            //    "oTableTools": {
            //        "sRowSelect": "single",
            //        "sSelectedClass": "selected"
            //    }
            //});

            //$('#msg').removeClass('active');
            //$('#msg').addClass('hide');

            //GetEmployees();

            $('#BranchCode, #intMstDepartment, #intMstPosition, #intMstEmpPersonal').select2();

            table = $("#tbl").dataTable({
                "columnDefs": [{
                    "targets": [0, 1, 3, 5, 7, ],
                    //"targets": [],
                    "visible": false,
                    "searchable": false
                }],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": false,
                "oTableTools": {
                    "sRowSelect": "single",
                    "sSelectedClass": "selected"
                }
            });

            $('#msg').removeClass('active');
            $('#msg').addClass('hide');

            GetDepartments();
            GetPositions();
            GetEmployees();
        });


        function AddItem() {
            //var items = {
            //    "ID": "","intMstEmpPersonal": "", "EmpName": ""
            //};

            var items = {
                "intGroupId": "", "BranchCode": "", "BranchName": "", "intMstDepartment": "", "DepartmentName": "",
                "intMstPosition": "", "PositionName": "", "intMstEmpPersonal": "", "EmpName": ""
            };

            //items.ID = 0;
            //items.intMstEmpPersonal = $('#firstname').val();
            //items.EmpName = $('#firstname :selected').text();

            items.intGroupId = 0;
            items.BranchCode = $('#BranchName').val();
            items.BranchName = $('#BranchName').val() == '' ? '' : $('#BranchName :selected').text();
            items.intMstDepartment = $('#Department').val() == '' ? -1 : $('#Department').val();
            items.DepartmentName = $('#Department').val() == '' ? '' : $('#Department :selected').text();
            items.intMstPosition = $('#Position').val() == '' ? -1 : $('#Position').val();
            items.PositionName = $('#Position').val() == '' ? '' : $('#Position :selected').text();
            items.intMstEmpPersonal = $('#firstname').val() == '' ? '' : $('#firstname').val();
            items.EmpName = $('#firstname').val() == '' ? '' : $('#firstname :selected').text();

            

            $("#tbl").dataTable()
                .fnAddData([
                    items.intGroupId,
                    items.BranchCode,
                    items.BranchName,
                    items.intMstDepartment,
                    items.DepartmentName,
                    items.intMstPosition,
                    items.PositionName,
                    items.intMstEmpPersonal,
                    items.EmpName,
                    '<a href="javascript:void(0);" onclick="RemoveItem(this);" >Remove</a>'
                ]);

        }

        function RemoveItem(val) {
            var nRow = $(val).parents('tr')[0];

            table.fnDeleteRow(nRow);

        }

        function SaveRecord() {
       
            @*var GroupID = $("#GroupID").val();
            var GroupName = $("#GroupName").val();
            var intMstPersonal = '@Session["Username"]'
            var status = ($("#GroupID").val() == '') ? 0 : 1;

            var GroupTags_array = [];
            GroupTags_array = $("tbody tr", $("#tbl")).map(function () {
                return [$("td", this).map(function () {
                    return $(this).text();
                    //this.innerHTML;
                }).get()];
            }).get();*@

            var groupH = {
                "intMstPersonal": "", "GroupID": "", "GroupName": "", "status": "", "GroupDet": []
            };

            var Groupdet = {
                "intTrnGroupDetail": "", "intGroupHeadID": "", "BranchCode": "",
                "intMstDepartment": "", "intMstPosition": "", "intMstEmpPersonal": ""
            };

            groupH.GroupID = ($("#GroupID").val() == '') ? 0 : $("#GroupID").val();
            groupH.intMstPersonal = '@Session["Username"]'
            groupH.GroupName = $("#GroupName").val();
            groupH.status = ($("#GroupID").val() == '') ? 0 : 1;

            var oTable = $("#tbl").dataTable().fnGetData();

            for (var i = 0; i < oTable.length; i++) {
                Groupdet.intTrnGroupDetail = groupH.GroupID;
                Groupdet.intGroupHeadID = oTable[i][0];
                Groupdet.BranchCode = oTable[i][1];
                Groupdet.intMstDepartment = oTable[i][3];
                Groupdet.intMstPosition = oTable[i][5];
                Groupdet.intMstEmpPersonal = oTable[i][7];

                groupH.GroupDet.push(Groupdet);


                Groupdet = {
                    "intTrnGroupDetail": "", "intGroupHeadID": "", "BranchCode": "",
                    "intMstDepartment": "", "intMstPosition": "", "intMstEmpPersonal": ""
                };

            }


            $.ajax({
                url: '@Url.Action("SaveEditGroupTagging")',
                type: 'POST',
                data: JSON.stringify(groupH),
                datatype: 'json',
                contentType: 'application/json;',

                success: function (result) {
                    $('#msg4').addClass('active');
                    $('#msg4').removeClass('hide');

                    if (result != null && result.success == true) {

                        $('#msg4').removeClass('bg-danger');
                        $('#msg4').addClass('bg-success');
                        $('#msg4').html(result.responseText).show().slideDown(3000).fadeOut(8000);
                    }
                    else {
                        $('#msg4').removeClass('bg-danger');
                        $('#msg4').addClass('bg-success');
                        $('#msg4').html(result.responseText).show().slideDown(3000).fadeOut(8000);
                    }

                }
            });

        }

     </script>
}







