@model FileUpload.Models.ViewDataDownloadFinal

@{
    ViewBag.Title = "Document Download";
}

<h3 style="margin-left:10px;">@ViewBag.Title</h3>

<form>
    <div class="form-group text-center">                
        <div class="col-sm-2" style="margin-bottom:10px;">                        
            @Html.DropDownListFor(model => model.CategoryID, (SelectList)@ViewBag.categories, "--- Category ---", new { @class = "form-control", @onchange="GetFiles();" })
        </div>
        @*<div class="col-sm-2" style="margin-bottom:10px;">                        
            @Html.DropDownListFor(model => model.intMstGroupType, (SelectList)@ViewBag.grouptype, "--- Group Type ---", new { @class = "form-control", @onchange="GetFiles();" })
        </div>*@
        <div class="col-sm-2" style="margin-bottom:10px;">                        
            @Html.DropDownListFor(model => model.intMstDept, (SelectList)@ViewBag.dept, "--- Department ---", new { @class = "form-control", @onchange="GetFiles();" })
        </div>
        <label class="col-sm-1" id="file-counter"></label>            

        <div class="col-sm-2 pull-right">
            <input type="text" id="searchTerm" class="form-control" onkeyup="doSearch()" placeholder="Search..." />
            @*<input type="text" id="searchTerm" class="form-control" placeholder="Type to search" />*@
        </div>
    </div>
</form>
<br />
<table class="table table-striped" id="mytable">
    <thead>
        <tr>
            <th class="text-center col-sm-1">Date uploaded</th>
            <th class="col-sm-2">Doc. Title</th>
            <th>Description</th>
            <th class="text-center col-sm-1">Size</th>            
            <th class="text-center col-sm-2">Actions</th>            
        </tr>
    </thead>    
    <tbody>       
    </tbody>        
</table>
<div class="col-sm-12 text-center hide" id="loading">
    <img src="@Url.Content("~/Content/img/loading.gif")" />
</div>


@*<iframe src="www.google.com" id="docFrame"></iframe>*@
@*<iframe src="http://www.google.com/custom?q=&btnG=Search"" id="docFrame"></iframe>*@

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            GetFiles();                       

        });

        function doSearch() {
            var searchText = document.getElementById('searchTerm').value;
            var targetTable = document.getElementById('mytable');
            var targetTableColCount;
            var targetTableNewRows = 0;

            //Loop through table rows
            for (var rowIndex = 0; rowIndex < targetTable.rows.length; rowIndex++) {
                var rowData = '';

                //Get column count from header row
                if (rowIndex == 0) {
                    targetTableColCount = targetTable.rows.item(rowIndex).cells.length - 1;
                    continue; //do not execute further code for header row.
                }

                //Process data rows. (rowIndex >= 1)
                for (var colIndex = 0; colIndex < targetTableColCount; colIndex++) {
                    rowData += targetTable.rows.item(rowIndex).cells.item(colIndex).textContent.toLowerCase();
                }

                //If search term is not found in row data
                //then hide the row, else show
                if (rowData.indexOf(searchText.toLowerCase()) == -1) {
                    targetTable.rows.item(rowIndex).style.display = 'none';
                }
                else {
                    targetTable.rows.item(rowIndex).style.display = 'table-row';
                    targetTableNewRows = targetTableNewRows + 1;
                }
                    
            }

            $('#file-counter').html(targetTableNewRows + " file(s)");
            
        }

        function GetFiles()
        {
            $('#mytable tbody>tr').remove();

            var cat = $('#CategoryID').val() == "" ? 0 : $('#CategoryID').val();
            var group = 0;//$('#intMstGroupType').val() == "" ? 0 : $('#intMstGroupType').val();
            var dept = $('#intMstDept').val() == "" ? 0 : $('#intMstDept').val();
            var url = '@Url.Action("GetFiles")';
            url += '?catId=' + cat + '&grouptype=' + group + '&dept=' + dept;

                //if (val != "") {

                    $('#loading').removeClass('hide');
                    $('#loading').addClass('show');

                    $.get(
                        url,
                        function (data) {
                            arr = JSON.parse(data.obj);

                            var arrLen = arr.length;
                            var x;
                            for (x = 0; x < arr.length; x++) {
                                var row = '';
                                row += '<tr>';
                                row += '<td class = "text-center">' + arr[x]["uploaddate"] + '</td>';
                                row += '<td>' + arr[x]["name"] + '</td>';
                                row += '<td>' + arr[x]["desc"] + '</td>';
                                row += '<td class="text-center">' + arr[x]["size"] + '</td>';
                                row += '<td class="text-center">' + arr[x]["url"] + '</td>'; //' | ' + arr[x]["prevUrl"] + '</td>';
                                row += '</tr>';

                                $('#mytable tbody:last').append(row);
                            }

                            $('#loading').removeClass('show');
                            $('#loading').addClass('hide');

                            $('#file-counter').html(arr.length + " file(s)");
                        }
                    );
                //}
        }
    </script>    
}