@model FileUpload.Models.UserOneAccess

@{
    ViewBag.Title = ViewBag.Title;
}

<h3 style="margin-left:10px;">@ViewBag.Title</h3>

<form method="post" action="@Url.Content("~/User/Create")"  class="distance">    
    <div class="col-xs-5">
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group col-sm-12">
            <label for="Username">Username</label>
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @required="required" })                        
        </div>
        @*<div class="form-group col-sm-12">
            <label for="UserPassword">Password</label>
            @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control", value = Model.UserPassword })
        </div>*@
        <div class="form-group col-sm-12">
            <label for="intMstUserGroup">User Group</label>
            @Html.DropDownListFor(model => model.intMstUserGroup, (SelectList)@ViewBag.usergroup, new { @class = "form-control" })
        </div>
        <div class="form-group col-sm-12">
            <div class="checkbox">
                <label>@*<input type="checkbox" id="isActive" name="isActive" />*@
                    @Html.CheckBoxFor(model => model.isActive)
                    is Active
                </label>
            </div>

            <div class="checkbox">
                <label>@*<input type="checkbox" id="isAdmin" name="isAdmin" />*@
                    @Html.CheckBoxFor(model => model.isAdmin)
                    is Admin
                </label>
            </div>  
        </div>
        
        <button type="submit" class="btn btn-success" style="margin-left:15px;">Save User</button>
        <a href="@Url.Content("~/User")" class="btn btn-warning">Back to list</a>
        <br />
        <span>@ViewBag.Msg</span>
    </div>    
</form>