@model FileUpload.Models.ViewMemo

@{
    ViewBag.Title = "Department Order Upload";
}

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<h3 style="margin-left:10px;">@ViewBag.Title</h3>

<form method="post" action="@Url.Content("~/Memo/Upload")" class="distance form-horizontal" enctype="multipart/form-data">       
    @if ((ViewBag.msg != "Successfully saved.") && (ViewBag.msg != null))
    { 
        <div class="alert alert-danger text-center">@ViewBag.msg</div>
    }
    <div class="alert text-center" id="msgs"></div>

    <div class="col-sm-7">
        @Html.HiddenFor(mdl => mdl.memo.intTrnMemo)
        @Html.HiddenFor(mdl => mdl.memo.FileName)

        <div class="form-group">
            <label class="control-label col-sm-2">DO Date</label>
            <div class="col-sm-2">                
                @Html.TextBoxFor(mdl => mdl.memo.MemoDate, new { @class = "form-control", Value = Model.memo.MemoDate.ToShortDateString(), @data_date_format = "mm/dd/yyyy" })
                @*@Html.TextBoxFor(mdl => mdl.memo.MemoDate, new { @class = "form-control" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Date Received and Time</label>
            <div class="col-sm-3" > 
                @Html.TextBoxFor(mdl => mdl.memo.MemoReceivedDate, new { @class = "form-control", Value = Model.memo.MemoDate.ToShortDateString(), @data_date_format = "mm/dd/yyyy" })                                        
            </div>
            <div class="col-sm-3">
                @*<input id="MemoReceivedTime" type="time" style="float:left;" required class="form-control"/>*@
                @Html.TextBoxFor(mdl => mdl.memo.MemoReceivedTime, new { type = "time", @class = "form-control" })             
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Recipient</label>
            <div class="col-sm-6">                
                @Html.TextBoxFor(mdl => mdl.memo.Recipient, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">DO No.</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(mdl => mdl.memo.DocNo, new { @class = "form-control", @readonly = "" })                
            </div>

     
            @if ((bool)Session["isAdmin"])
            { 
                <div class="col-sm-3">                
                    @Html.DropDownListFor(mdl => mdl.memo.intMstDepartment, (SelectList)@ViewBag.depts, new { @class = "form-control", @onchange = "GetAutoNum();", @value = Model.memo.intMstDepartment })
                </div>
            }           
             
        </div>
        <div class="form-group"> 
            <label class="control-label col-sm-9" style="font-style:italic; color:red; font-size:12px; margin-left:15px;">Note: Special Character  like (!,#,$,%,^,&,* etc.") on the filename is not allowed!</label>
            <label class="control-label col-sm-11" style="font-style:italic; color:red; font-size:12px;">Sample format on naming a file! Ex. Filename_DateToday.pdf / DepartmentOrderNo1_10232018.pdf</label>    
        </div>
              
            
        <div class="form-group">
            <label class="control-label col-sm-2">Selected file</label>
            <div class="col-sm-7">                
                @Html.TextBoxFor(mdl => mdl.memo.OrigFileName, new { @class = "form-control", @readonly = "" })
            </div>    
            <span class="btn btn-success btn-file">
                Browse...<input style="margin-top:10px;" type="file" name="file" id="file" onchange="ViewFile();" />
            </span>            
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Subject</label>
            <div class="col-sm-10">                
                @Html.TextBoxFor(mdl => mdl.memo.Subject, new { @class = "form-control" })
            </div>
        </div>        

        <div class="form-group">
            <label class="control-label col-sm-2">Description</label>
            <div class="col-sm-10">                
                @Html.TextAreaFor(mdl => mdl.memo.MemoDescription, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Remarks</label>
            <div class="col-sm-10">                               
                @Html.TextAreaFor(mdl => mdl.memo.MemoRemarks, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" style="margin-left:45px;">
            <label style="font-style:italic; color:red; font-size:small;" >(this will serve as auto tag for new employees)</label><br />
            <div class="col-sm-15">
            @*<input type="checkbox" name="AutoTag" value="1" style="width:50px; height: 50px; text-align:center; vertical-align: middle;" >*@ Auto Tag New Employees?<br>
            @Html.CheckBoxFor(mdl => mdl.memo.intAutoTag, new { style="width:50px; height: 50px; text-align:center; vertical-align: middle;"})
            </div>
        </div>
        
    </div>

    <div class="col-sm-7">
        <button type="submit" class="btn btn-primary pull-right" onclick="">Upload Department Order</button>
    </div>
</form>

@section scripts
{

    <script type="text/javascript">
        $(function () {            
            var gpdate = $("#memo_MemoDate").datepicker();
            var rpdate = $("#memo_MemoReceivedDate").datepicker();

            GetAutoNum();
        });        

        function ViewFile()
        {
            var inp = document.getElementById('file').value;

            //$('#memo_OrigFileName').val(inp);

            // now you can do your checking  for special characters
            if ((/[~#%\$!&@@_{}+\|]|\\.\\.|^\\.|\\.$/i.test(inp)) == true) {

                
                $('#memo_OrigFileName').val('');

                $('#msgs').removeClass('bg-success');
                $('#msgs').addClass('bg-danger');
                $('#msgs').html('Filename containts special characters!').show().fadeOut(8000);
            }
            else {
                $('#memo_OrigFileName').val(inp);

            }

        }
       
        function GetAutoNum()
        {
            var urlString = '@Url.Action("GetAutoNo")';
            var datas = { "intMstDepartment": "" };

            datas.intMstDepartment = $('#memo_intMstDepartment').val();

            $.get(
                urlString,
                datas,
                function (data) {

                    $('#memo_DocNo').val(data.autonum);
                });
        }
    </script>    
    
}